@import "tailwindcss";
@import "@/styles/header.css";
@import "@/styles/resetDefaultSettings.css";
@import '@/styles/Input.css';
@import '@/styles/main/card.css';

/* Сброс и адекватная модель коробки */
html, body { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body{
    background-color: #c8c5c5;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dark{
    body{
        background-color: #131313;
    }
}

.buttons--container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background-color: #131313;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px;
    transition: all 100ms ease;
    cursor: pointer;
    border: 1px transparent dashed;
    margin: 10px;
    &:hover {
        background: lightblue;
        transform: scale(1.01);
        border: 1px black dashed;
    }
}
.dark{
    button {

        background: aliceblue;
        color: black;
        &:hover {
            background: lightblue;
            transform: scale(1.02);
            border: 1px black dashed;
        }
    }
}

